/*********************************************
	 ** Stylesheet file for default Flux theme. **
	 *********************************************/

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap");

.loginbox-admin-menu {
    padding-top: 5px;
    color: #94b4d5;
}

body {
    margin: 0 0 20px 0;
    padding: 0;
    font-family: "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 9pt;
    color: #2c5370;
    background-color: #ffffff !important;
}

table {
    font-family: "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 9pt;
}

tr,
td,
th {
    vertical-align: top;
}

.horizontal-table tr,
.vertical-table tr,
.generic-form-table tr,
.horizontal-table td,
.vertical-table td,
.generic-form-table td {
    vertical-align: middle;
}

.horizontal-table th,
.vertical-table th,
.generic-form-table th {
    vertical-align: top;
}

h2 {
    color: #444;
    letter-spacing: -1px;
}

h3 {
    /*font-style: italic;*/
    font-weight: normal;
    font-size: 120%;
    color: #444;
    border-bottom: 1px dotted #ddd;
    text-transform: uppercase;
}

h3:first-letter {
    font-weight: bold;
}

p {
    margin: 4px 0 8px 0;
    padding: 0;
}

a img {
    border: 0;
}

a {
    color: #4083c6;
    text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="file"],
textarea {
    font-family: "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
    padding: 4px;
    font-size: 10pt;
    color: #444;
    border: 1px solid #ddd;
    outline-width: 0;
}

label:hover {
    cursor: pointer;
}

/*input[type=text]:hover, input[type=password]:hover, textarea:hover {
	color: #46a;
	background-color: #dee;
	border: 1px solid #8ac;
}*/

.module-name {
    font-weight: bold;
    font-size: 12pt;
}

.message {
    display: block;
    padding: 10px;
    font-weight: bold;
    font-size: 120%;
    color: #fff;
    background-color: #333;
}

.notice {
    display: block;
    padding: 10px;
    font-weight: normal;
    font-size: 120%;
    color: #204a87;
    background-color: #f0ffff;
    border: 1px solid #87ceeb;
}

.center {
    text-align: center;
}

#admin_sidebar,
#sidebar {
    margin-bottom: 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

#admin_sidebar img,
#sidebar img {
    display: block;
}

#admin_sidebar td,
#sidebar td {
    padding: 0;
}

#admin_sidebar td.menuitem,
#admin_sidebar th.menuitem {
    display: block;
    font-size: 10pt;
    border-width: 0 13px 0 11px;
    border-style: solid;
    border-color: #8b8b8b;
}

#admin_sidebar th.menuitem {
    background-color: #303030;
}

#admin_sidebar th.menuitem strong {
    display: block;
    margin: 0 12px;
    padding: 10px 0 2px 0;
    font-size: 100%;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #555;
}

#admin_sidebar td.menuitem a {
    margin: 0 auto;
    display: block;
    padding: 2px 5px 4px 18px;
    color: #fff;
    background-color: #303030;
    text-align: left;
    text-shadow: #000 1pt 1pt;
    text-decoration: none;
}

#admin_sidebar td.menuitem a:hover {
    color: #fff;
    background-color: #4a5259;
    text-shadow: #4a5259 1pt 1pt;
}

#sidebar td.sidebar-left,
#sidebar td.sidebar-right {
    background-color: #e6f0fa;
}

#sidebar td.menuitem,
#sidebar th.menuitem {
    display: block;
    font-size: 10pt;
    border-width: 0 13px 0 11px;
    border-style: solid;
    border-color: #c4d9ee;
}

#sidebar th.menuitem {
    background-color: #94b4d5;
}

#sidebar th.menuitem strong {
    display: block;
    margin: 0 12px;
    padding: 10px 0 2px 0;
    font-size: 100%;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #c4d9ee;
}

#sidebar td.menuitem a {
    margin: 0 auto;
    display: block;
    padding: 2px 5px 4px 18px;
    color: #fff;
    background-color: #94b4d5;
    text-align: left;
    text-shadow: #708fae 1pt 1pt;
    text-decoration: none;
}

#sidebar td.menuitem a:hover {
    color: #fff;
    background-color: #708fae;
    text-shadow: #708fae 1pt 1pt;
}

#sidebar td.menuitem a span {
    display: block;
}

.request,
.fs-path {
    display: inline-block;
    padding: 2px;
    font-family: Monaco, "Lucida Console", "Bitsteam Vera Sans Mono", monospace;
    font-size: 8pt;
    background-color: #fff;
    border: 1px solid #eee;
}

.keyword {
    color: #ffba00;
    font-style: italic;
}

.red {
    display: block;
    padding: 10px;
    font-weight: bold;
    font-size: 120%;
    color: #fff;
    background-color: #f00;
}

.green {
    display: block;
    padding: 10px;
    font-weight: bold;
    font-size: 120%;
    color: #fff;
    background-color: #0c0;
}

.note {
    padding: 5px;
    color: #444;
    background-color: #eaeaea;
    font-style: italic;
}

.up {
    font-weight: bold;
    color: #0f0;
    text-transform: uppercase;
}

.down {
    color: #f00;
    text-transform: uppercase;
}

.submit_button {
    display: block;
    margin: 10px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #ccc;
}

.submit_button:hover {
    color: #fff;
    background-color: #333;
    border: 1px solid #111;
    cursor: pointer;
}

.install_table th,
.install_table td {
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.install_table th {
    background-color: #eef;
}

.install_table td {
    width: 180px;
    text-align: center;
}

.created {
    color: green;
    width: 80px;
}

.missing {
    color: red;
    width: 80px;
}

.pages {
    margin-top: 20px;
    padding-top: 10px;
    color: #ccc;
    text-align: center;
    border-top: 1px solid #ddd;
}

.pages .page-prev,
.pages .page-next {
    color: #94b4d5;
}

.pages .page-num {
    padding: 0 5px;
}

.pages .current-page {
    color: #000000;
    font-weight: bold;
}

.horizontal-table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.horizontal-table th {
    padding: 5px 10px;
    background-color: #eee;
}

.horizontal-table td {
    padding: 5px 10px;
    background-color: #fff;
}

.horizontal-table th,
.horizontal-table td {
    font-size: 9pt;
    border: 1px solid #ddd;
}

.vertical-table {
    border-spacing: 0;
    border-collapse: collapse;
}

.vertical-table th {
    padding: 5px 10px;
    background-color: #eee;
}

.vertical-table td {
    padding: 5px 12px;
    background-color: #fff;
}

.vertical-table th,
.vertical-table td {
    font-size: 9pt;
    border: 1px solid #ddd;
}

.vertical-table label {
    display: block;
    padding: 5px;
}

.current-sub-menu {
    font-weight: bold;
}

.td-checkbox {
    text-align: center;
}

.td-action {
    color: #ccc;
    text-align: center;
}

.vertical-table .td-action {
    text-align: right;
}

.vertical-table form {
    margin: 0;
    padding: 0;
}

.not-applicable {
    font-style: italic;
    color: #bbb;
}

.state-pending {
    color: orange;
}

.state-banned {
    color: red;
}

.state-permanently-banned {
    font-weight: bold;
    color: red;
}

.raw-txn-log {
    padding: 10px;
    font-family: "Monaco", "Lucida Console", "Courier New", monospace;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 96%;
    overflow: scroll;
}

.online {
    color: #000;
}

.offline {
    color: #aaa;
}

.info-text-total {
    font-weight: bold;
}

.info-text-results {
    font-weight: bold;
}

.info-text {
    margin-bottom: 6px;
    padding: 5px;
    color: #666;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

.toggler {
    font-weight: bold;
    font-style: italic;
}

.toggler a {
    color: #26a;
}

.search-form,
search-form2 {
    display: none;
    margin: 0 0 10px 0;
    padding: 0;
    border-top: 1px solid #ddd;
}

.search-form p,
.search-form2 p {
    margin: 0;
    padding: 5px;
    color: #aaa;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.search-form label,
.search-form2 label {
    display: inline-block;
    margin: 0 0 3px 0;
    font-size: 8pt;
    font-style: italic;
    color: #222;
}

.search-form input[type="text"],
.search-form2 input[type="text"] {
    display: inline-block;
    margin: 0 0 2px 0;
    padding: 2px;
    font-size: 8pt;
    width: 80px;
}

.search-form input[type="submit"],
.search-form2 input[type="submit"] {
    display: inline-block;
    margin: 0 0 2px 0;
    font-size: 8pt;
    font-weight: bold;
}

.search-form input[type="button"],
.search-form input[type="reset"],
.search-form2 input[type="button"],
.search-form2 input[type="reset"] {
    display: inline-block;
    margin: 0 0 2px 0;
    font-size: 8pt;
}

.search-form input[type="checkbox"],
.search-form2 input[type="checkbox"] {
    display: inline-block;
    margin: 0 0 2px 0;
}

.search-form select,
.search-form2 select {
    display: inline-block;
    margin: 2px 0;
}

#submenu {
    color: #bbb;
}

#pagemenu {
    margin-top: 5px;
    padding: 5px 0;
    font-size: 8pt;
    color: #888;
    border-width: 1px 0;
    border-style: dotted;
    border-color: #ddd;
}

#pagemenu a {
    color: #777974;
    text-decoration: underline;
}

#pagemenu a:hover {
    color: #729fcf;
}

#loginbox {
    margin-bottom: 10px;
    color: #555;
}

#content {
    color: #555;
}

#register_form table td,
#login_form table td {
    padding: 1px;
}

#register_form table th label,
#login_form table th label {
    display: block;
    padding: 5px;
    text-align: center;
}

#register_form input[type="text"],
#register_form input[type="password"],
#login_form input[type="text"],
#login_form input[type="password"] {
    width: 140px;
}

#register_form select,
#login_form select {
    width: 147px;
}

#server_status th,
#server_status td {
    padding: 8px 12px 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#server_status {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ddd;
}

#server_status .server {
    color: #222;
}

#server_status .status {
    text-align: center;
}

#copyright p {
    margin-top: 5px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 8pt;
    color: #ccc;
    text-align: right;
}

#info p {
    margin-top: 5px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 8pt;
    color: #aaa;
    text-align: right;
}

.sortable {
    color: #444;
    text-decoration: underline;
}

.sortable:hover {
    color: #000;
}

.character-stats {
    border-spacing: 0;
    border-collapse: collapse;
    color: #ccc;
}

.character-stats td {
    padding: 0px 10px 5px 0;
    border: 0;
    text-align: center;
}

.character-stats .stat-name {
    color: #666;
}

.character-stats .stat-value {
    color: #000;
}

.credit-balance {
    float: right;
    display: inline-block;
    padding: 10px;
    color: #000;
    background-color: #eee;
    border: 1px dotted #ddd;
}

.credit-balance .balance-text {
    display: inline-block;
    margin-right: 5px;
    color: #bbb;
    text-transform: uppercase;
}

.credit-balance .balance-amount {
    font-weight: bold;
}

.emblem-server {
    margin: 0 0 2px 0;
    padding: 0 0 2px 0;
    font-size: 120%;
    border-bottom: 1px solid #ddd;
}

.emblem-server label {
    display: block;
}

.emblem-server label:hover {
    cursor: pointer;
}

.block {
    display: block;
    width: 80%;
    height: 40px;
}

.script-line {
    font-family: Monaco, "Lucida Console", monospace;
}

.script-line-num {
    display: inline-block;
    margin: 0;
    padding: 5px;
    background-color: #eee;
    border-right: 1px solid #ddd;
}

.script-line-code {
    display: inline-block;
    margin: 0;
    padding: 5px;
}

.shop-table {
    width: 100%;
    color: #000;
    border-spacing: 0 10px;
    border-collapse: separate;
}

.shop-table td {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.shop-item-image {
    width: 75px;
    height: 100px;
    text-align: center;
}

.shop-item-name {
    margin: 0 0 5px 0;
    padding: 0 0 2px 0;
    font-size: 140%;
    color: #222;
    border-bottom: 1px solid #eee;
}

.shop-item-cost-qty {
    width: 150px;
    color: #aaa;
    text-align: center;
}

.cost {
    color: #000;
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
}

.qty {
    color: #000;
}

.shop-item-action {
    color: #ddd;
}

.shop-item-action a {
    color: #80a2c8;
    border-bottom: 1px solid #eee;
}

.shop-item-action a:hover {
    border-bottom: 1px solid #80a2c8;
}

.short {
    width: 40px;
}

.shop-server-name {
    color: #333;
}

.shop-item-info {
    text-align: justify;
}

textarea {
    width: 320px;
    height: 120px;
}

.cart-items-text {
    margin: 0 0 5px 0;
    padding: 5px;
    color: #ddd;
    background-color: #888;
    border: 5px solid #777;
}

.cart-info-text {
    margin: 0 0 5px 0;
    padding: 0;
}

.cart-total-text {
    margin: 0;
    padding: 0;
}

.cart-item-name {
    color: #fff;
    border-bottom: 1px dotted #aaa;
}

.cart-item-count {
    font-size: 120%;
    font-weight: bold;
    color: #000;
}

.cart-sub-total {
    color: #000;
}

.cart {
    width: 100%;
}

.cart label {
    display: block;
}

.cart h4 {
    margin: 10px 0 2px 0;
    font-size: 140%;
}

.remove-from-cart {
    width: 100%;
    text-align: right;
}

.checkout-text {
    font-size: 120%;
    font-weight: bold;
}

.checkout-text a {
    border-bottom: 1px dotted #ccc;
}

.checkout-text a:hover {
    color: #000;
    border-bottom: 1px solid #aaa;
}

.enter-donation-amount {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 120%;
}

.donation-amount-text {
    margin: 0;
    padding: 0;
    font-size: 120%;
    text-align: center;
}

.credit-amount-text {
    font-size: 8pt;
    text-transform: uppercase;
    color: #bbb;
    text-align: center;
    letter-spacing: 1px;
}

.donation-amount {
    font-weight: bold;
    color: #000;
}

.credit-amount {
    color: #555;
}

.reset-amount-text {
    margin: 0;
    padding: 0;
    font-size: 8pt;
    text-align: center;
}

.checkout-info-text {
    margin: 0 0 5px 0;
    padding: 0;
}

.remaining-balance {
    color: #000;
}

.exchange-rate {
    font-size: 120%;
    font-weight: bold;
    color: #000;
}

.important {
    font-size: 120%;
    color: #000;
}

.important .server-name {
    font-weight: bold;
}

.generic-form {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: auto;
}

.generic-form-div {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: auto;
}
.generic-form-table th label {
    display: block;
    padding: 6px;
}

.generic-form-table td div {
    display: block;
    padding: 6px 0;
}

.generic-form-table th {
    text-align: right;
}

.generic-form-table td input[type="checkbox"] {
    display: inline-block;
    margin-top: 6px;
}

.generic-form-table td p {
    margin: 6px 5px;
    color: #000;
}

.security-code {
    margin: 5px 0;
    text-align: left;
    width: 145px;
    height: 50px;
}

.action {
    color: #ddd;
}

.action a,
.action span.anchor {
    color: #80a2c8;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.block-link {
    display: block;
    padding: 3px;
    color: #80a2c8;
    border-bottom: 1px solid #eee;
}

.button-action {
    padding: 5px 0;
    text-align: left;
}

.woe-table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ddd;
}

.woe-table th,
.woe-table td {
    padding: 5px 10px;
}

.woe-table th {
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}

.woe-table td {
    font-size: 120%;
}

.woe-table .server {
    font-weight: bold;
}

.woe-table .time {
    font-style: italic;
    color: #333;
}

.script {
    width: 98%;
}

.multi-select {
    width: 100%;
}

.jump-to-page {
    margin-top: 8px;
    font-size: 8pt;
    text-align: center;
}

.jump-to-page input {
    padding: 2px;
    font-size: 8pt;
}

.top-ranked td {
    font-weight: bold;
    color: #000;
    background-color: #fff8dc;
}

.top-ranked a {
    color: #000;
    border-bottom: 1px dotted #666;
}

.empty-row {
    visibility: hidden;
}

.item-drop-mvp td {
    color: #000;
    background-color: #f8f8ff;
}

.item-drop-card td {
    color: #000;
    background-color: #f0ffff;
}

.mvp {
    font-size: xx-small;
    font-weight: bold;
    color: #ff0000;
    vertical-align: top;
}

.monster-mode {
    margin: 0;
    padding: 0;
    list-style: square inside;
}

.monster-mode li {
    padding: 1px;
    border-bottom: 1px dotted #eee;
}

.equipped td {
    background-color: #f1ffff;
}

.job-classes {
    border-spacing: 0;
}

.job-classes td {
    padding-right: 10px;
    border-right: 1px solid #eee;
}

.current-shop-category {
    font-weight: bold;
}

.normalslotted .equipped {
    color: #25292b;
}

.overslotted1 {
    color: #32cd32;
}

.overslotted2 {
    color: #00bfff;
}

.overslotted3 {
    color: #ffa500;
}

.overslotted4 {
    color: #9932cc;
}

.hold-hours {
    color: #ffba00;
    font-style: italic;
}

.navbar {
    --bs-navbar-padding-y: 0px !important;
}

.nav-item {
    padding: 10px;
    z-index: 3;
}

.nav-item a {
    color: white !important;
    font-weight: 500;
}

.nav-item li a {
    color: rgb(43, 43, 43) !important;
}

.nav-item:hover::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    right: -10px;
    background-color: #bd7eb7;
    transform: skew(-15deg);
    z-index: -1;
}

.navbar-brand {
    color: #fff !important;
    font-weight: 500;
}

.online-row {
    align-items: center;
}

.green-on {
    background-color: #0c0;
    padding: 5px;
    border-radius: 3px;
    padding-top: 50px;
    color: #212529;
    font-weight: 700;
}

.green-box {
    background-color: #bd7eb7;
    padding: 5px;
    border-radius: 3px;
    padding-top: 50px;
    color: #212529;
    font-weight: 700;
}

.online-bar {
    background-color: #212529;
    color: white;
}

.d-flex {
    width: auto !important;
}

.header-main {
    background: rgb(71, 201, 253);
    background: linear-gradient(120deg, rgba(71, 201, 253, 1) 0%, rgba(130, 240, 255, 1) 100%);
}

.header-img {
    max-width: 400px;
    margin-top: -11em;
    position: relative;
    z-index: 2;
}

.information {
    background-color: #fff;
    margin-bottom: 5em;
    padding-bottom: 1em !important;
}

.opaca {
    background: rgb(71, 201, 253);
    background: linear-gradient(90deg, rgba(71, 201, 253, 1) 0%, rgba(119, 232, 254, 1) 100%);
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 2.4em;
    color: white;
}

.header-line {
    padding-top: 6em;
}

.header-text {
    padding-left: 7em !important;
}

.text-header {
    font-weight: 500;
    color: white;
}

.btn-primary {
    border-radius: 30px !important;
    padding: 10px !important;
    font-weight: 500 !important;
    background-color: #bd7eb7 !important;
    border-color: #bd7eb7 !important;
}

.wave-container {
    background-color: #47c9fd;
    position: relative;
    z-index: 2;
}

.wave-container::before {
    content: "";
    width: 100%;
    height: 68px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 38vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23FFFFFF'/></svg>");
}

@media (max-width: 850px) {
    .wave-container::before {
        height: 34px;
    }
}

/* wave 2 */
.wave-container2 {
    background-color: #47c9fd;
    position: relative;
}

.wave-container2::before {
    content: "";
    width: 100%;
    height: 78px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 61vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='rgba(255, 255, 255, 0.26)'/></svg>");
}

@media (max-width: 850px) {
    .wave-container2::before {
        height: 39px;
    }
}

/* wave 3 */
.wave-container3 {
    background-color: #47c9fd;
    position: relative;
}

.wave-container3::before {
    content: "";
    width: 100%;
    height: 162px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 26vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 5 51.5 9C104.5 19 200 43 300 65C400 88 500 111 600 102C700 93 800 53 900 30C987.526 5 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V1.98128Z' fill='rgba(255, 255, 255, 0.26)'/></svg>");
}

@media (max-width: 850px) {
    .wave-container3::before {
        height: 81px;
    }
}
/* wave 4 */
.wave-container4 {
    background-color: #47c9fd;
    position: relative;
}

.wave-container4::before {
    content: "";
    width: 100%;
    height: 162px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 77vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 5 51.5 9C104.5 19 200 43 300 65C400 88 500 111 600 102C700 93 800 53 900 30C987.526 5 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V1.98128Z' fill='rgba(255, 255, 255, 0.26)'/></svg>");
}

@media (max-width: 850px) {
    .wave-container4::before {
        height: 81px;
    }
}

.fa,
.fas {
    padding-right: 6px;
    font-size: 24px;
    vertical-align: top;
}

.btn:hover {
    opacity: 0.9;
}

.bloco-index {
    background-color: #fff;
    color: #2c5370;
    box-shadow: 0px 26px 26px 5px rgba(0, 0, 0, 0.1);
    width: 130px;
    height: 120px;
    border-radius: 10px;
    padding-top: 34px;
    z-index: 2;
    position: relative;
}

.bloco-index i {
    margin-bottom: 5px;
    color: #47c9fd;
}

.bloco-index p {
    font-weight: 500;
}

.online p {
    margin-bottom: 9px;
    margin-top: -10px;
}

.online p:nth-child(1) {
    color: #29ff29;
    margin-top: -22px;
}

.online p:nth-child(2) {
    font-size: 28px;
    font-family: fantasy;
    margin-top: 5px;
    margin-bottom: -5px;
}

.online p:nth-child(3) {
    margin-top: -2px;
}

.block-top {
    margin-top: -7em !important;
    text-align: -webkit-center;
    --bs-gutter-x: -20rem !important;
}

.espaco {
    margin-top: 5em !important;
    margin-bottom: 5em !important;
}

h3 {
    font-family: "Nunito" !important;
    color: #2c5370 !important;
    font-weight: 600 !important;
}

.md-img {
    max-width: 380px;
}

.btn-secondary {
    min-width: 237px;
    background-color: #bd7eb7 !important;
    border-color: #bd7eb7 !important;
    margin-bottom: 0.5em;
}

.btn-secondary p {
    text-align: left;
    padding-top: 10px;
    font-weight: 600;
    font-family: "Nunito";
    text-transform: uppercase;
}

.btn-secondary i {
    font-size: 37px;
    float: right;
    margin-top: -33px;
}

.btn-secondary p:nth-of-type(2) {
    font-size: 11px;
    text-align: left;
    margin-top: -50px;
    font-weight: 500;
}

/* Carousel */

:root {
    --bg1: url("https://uploads.adrenaline.com.br/2023/04/Ragnarok-Online-atualizacao-O-Caminho-das-Classes-4-02.jpg");
    --bg2: url("https://playragnarokonlinebr.com/img/episodios/road-to-ragnarok.png");
    --bg3: url("https://cdn.cloudflare.steamstatic.com/steam/apps/215100/ss_3c9ec8c019fd00dd699ff99921f5da96a016613e.1920x1080.jpg");
    --bg4: url("https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/06/12/ragnarok-online-capa-skq2aref3xo6.jpg");
    --bg5: url("https://cdn.cloudflare.steamstatic.com/steam/apps/215100/ss_33ab34ec781d8eaf2c936950bee837bc3c4cee18.1920x1080.jpg");
}

.box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6px;
    width: 100%;
    max-width: 1100px;
    height: auto;
    max-height: 900px;
    padding: 0.5em;
    margin: 0 auto;
}
.box-container .box {
    width: 25%;
    height: 320px;
    border-radius: 25px;
    cursor: pointer;
    transition: width 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
}
.box-container .box:nth-child(1) {
    background: var(--bg1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 130%;
}
.box-container .box:nth-child(2) {
    background: var(--bg2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 130%;
}
.box-container .box:nth-child(3) {
    background: var(--bg3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 130%;
}
.box-container .box:nth-child(4) {
    background: var(--bg4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 130%;
}
.box-container .box:nth-child(5) {
    background: var(--bg5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 130%;
}
.box-container .box .overlay {
    opacity: 0;
}
.box-container .box.closed {
    width: 5%;
}
.box-container .box.closed .overlay {
    opacity: 1;
}
.box-container .box.expanded {
    width: 85%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.btn-info {
    background-color: #c38bbe !important;
    border-color: #c38bbe !important;
    color: white !important;
    font-weight: 500 !important;
    font-family: "Nunito" !important;
}

.dropdown-menu.show {
    margin-left: -20px !important;
    border-color: #bd7eb7 !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #f8dafd !important;
}

.instanciado {
    background-color: #1da9e0 !important;
    border-color: #1da9e0 !important;
    border-radius: 10px !important;
    padding: 10px 0px 10px 6px !important;
    margin-bottom: 6px !important;
    margin-top: 6px !important;
    color: white !important;
    font-family: "Nunito" !important;
    font-weight: 600 !important;
    height: 80px;
    text-align: -webkit-left !important;
    text-align: left !important;
}

.instanciado:hover {
    background-color: #bd7eb7 !important;
    border-color: #bd7eb7 !important;
}

.instanciado.active {
    background-color: #bd7eb7 !important;
    border-color: #bd7eb7 !important;
}

.instanciado:focus {
    background-color: #bd7eb7 !important;
    border-color: #bd7eb7 !important;
}

.instanciado a {
    color: white;
    font-family: "Nunito";
    font-weight: 600;
    margin-bottom: 6px;
    margin-left: 66px;
    padding: 0px;
    margin-top: 8px;
}

.instanciado a::before {
    position: absolute;
    right: -9px;
    top: 30px;
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #bd7eb7;
    content: "";
    opacity: 0;
}

.instanciado:hover a::before,
.instanciado.active a::before {
    opacity: 1;
}

.small,
small {
    display: block;
    padding-left: 67px !important;
    padding-bottom: 7px;
    margin-top: -35px;
    font-weight: 500;
}

.in-img {
    margin-bottom: 0px;
    border-radius: 5px;
    position: absolute;
    left: 5px;
}

.box-instance {
    max-width: 250px;
    background-color: #fff;
    box-shadow: 0px 19px 18px 11px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 6px 6px;
}

.box-instance p:nth-of-type(1) {
    margin-top: -48px;
    color: white;
    margin-left: 14px;
    font-weight: 500;
    text-shadow: -2px 1px 3px rgba(49, 49, 49, 0.6);
    z-index: 3;
    position: relative;
}

.box-instance p:nth-of-type(2) {
    padding: 20px;
    margin-top: -20px;
    font-family: "Nunito";
    color: #858585;
}

.box-instance small {
    margin-top: -19px;
    color: white;
    margin-left: -52px;
    margin-bottom: -16px;
    text-shadow: -2px 1px 3px rgba(49, 49, 49, 0.6);
    z-index: 3;
    position: relative;
}

.box-img {
    max-width: 100%;
    max-height: 123px;
    height: auto;
    border-radius: 6px 6px 0px 0px;
}

.img-overlay {
    position: relative;
}

.img-overlay::after {
    content: "";
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%), rgb(0 0 0 / 74%));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sub {
    margin-top: -13px;
}

.more-inst {
    padding: 1px !important;
    max-width: 97px;
    background-color: #1da9e0 !important;
    margin-left: 149px;
    margin-top: 6px;
}

.more-inst:hover {
    background-color: #bd7eb7 !important;
}

.more-inst a {
    color: white !important;
}

.estati {
    margin-top: 12em !important;
    text-align: -webkit-center;
    --bs-gutter-x: -20rem !important;
}

.pxEspac {
    height: 580px;
    margin-top: -1em;
}

.box-info {
    width: 150px;
    height: 116px;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1);
    margin-bottom: -10px;
    z-index: -1;
    position: relative;
    border-radius: 4px;
}

.box-info p {
    font-size: 27px;
    padding-top: 17px;
    color: #bd7eb7;
    font-family: "Nunito";
}

.box-info small {
    font-size: 11px;
    text-align: left;
    margin-left: -57px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #9f9f9f;
}

.box-info i {
    color: #bd7eb7;
    font-size: 7px;
    margin-left: -1px;
    margin-top: 5px;
    margin-right: -3px;
}

.contei-info {
    margin-top: -14em;
}

#wave {
    margin-bottom: -15em;
}

.transition {
    margin-top: -24em;
}

.woe {
    z-index: 2;
    position: relative;
    padding-top: 10em;
    color: white;
}

.woe h3 {
    color: white !important;
}

.woe p {
    padding-top: 1em;
}

.contador {
    margin-top: 2em !important;
}

.lista-dias {
    list-style: none;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 7px;
    text-align: left;
}

.box-contador {
    text-align: center;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 10px;
    max-height: 80px;
    max-width: 80px !important;
}

.box-contador p:nth-of-type(1) {
    font-family: 'Nunito';
    font-size: 30px;
    font-weight: bolder;
    color: #5dd7fd;
    margin-top: -1em;
    margin-bottom: 8px;
}

.box-contador p:nth-of-type(2) {
    margin-top: -2em;
    font-weight: 500;
    color: #a5a5a5;
    font-family: 'Nunito';
}

.centro {
    justify-content: center;
}

.bg-woe {
    position: relative;
    height: 423px;
}

.bg-woe::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://playragnarokonlinebr.com/episodios/guerra-do-emperium-terceira-edicao/images/guerra-do-emperium-esquerda.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    opacity: 0.19; /* Valor entre 0 (totalmente transparente) e 1 (totalmente opaco) */
    z-index: -1; /* Garante que o pseudoelemento fique atrás do conteúdo da div */
}

.bg-pvp {
    position: relative;
    height: 446px;
}

.bg-pvp::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("https://playragnarokonlinebr.com/episodios/guerra-do-emperium-terceira-edicao/images/guerra-do-emperium-direita.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.19; /* Valor entre 0 (totalmente transparente) e 1 (totalmente opaco) */
    z-index: -1; /* Garante que o pseudoelemento fique atrás do conteúdo da div */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #383838;
    padding-top: 46px;
    color: white;
    font-family: 'Nunito';
    font-size: 14px;
    margin-bottom: -119px;
    padding-bottom: 0px;
    z-index: -1;
}

#footer ul {
    list-style: none;
    padding: 0;
}

#footer ul li::before {
    content: '»'; /* Caractere que você deseja usar */
    margin-right: 5px;
}

#footer li {
    margin-left: 20px;
}

.f-title {
    color: #5dd7fd;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.credit {
    background-color: #2e2e2e;
    height: 55px;
    align-content: end;
}

.foo-img {
    max-width: 200px;
}

.form-select {
    margin-bottom: 8px;
}